.vscode/settings.json
*.class
*.properties
/project/Library System/build/classes/.netbeans_automatic_build
/project/Library System/build/classes/.netbeans_update_resources
/project/Library System/build/
/project/Library System/nbproject/private/
/project/Library System/nbproject/private/private.xml
